%ul
  %li
    %a{:href => "/"} Home
  %li
    %a{:href => "/transcribe/dates/begin"} Transcribe Dates
  %li
    %a{:href => "/transcribe/observations/"} Transcribe observations
  %li
    %a{:href => "/about"} About
  %li
    %a{:href => "/contact"} Contact
  %li
    %a{:href => "http://scottexpedition.com"} The Scott Expedition
  %li.transcribed
    ="#{((initial_observation_count.to_f/(Record.count.to_f))*100).round}% of records transcribed"
  %li.transcribed
    ="#{((Observation.count.to_f/(Record.count.to_f * 2))*100).round}% of records double-keyed"
    
    
