%ul
  %li
    %a{:href => "/"} Home
  %li
    %a{:href => "/transcribe/dates/begin"} Transcribe Dates
  %li
    %a{:href => "/transcribe/observations/"} Transcribe observations
  %li
    %a{:href => "/about"} About
  %li
    %a{:href => "/contact"} Contact
  %li
    %a{:href => "http://scottexpedition.com"} The Scott Expedition
  %li.transcribed
    -@count = Observation.count/Record.count * 4
    ="#{@count * 100}% of records transcribed"