#about
  %h2
    %p
      The Background.
  %hr
  %p In 1911, Captain Scott led a five man team to reach the South Pole. After successfully arriving at the Pole, the team turned for the return journey where they encountered, and recorded, some of the most extreme conditions ever experienced in the region. Almost 1,600 miles into the epic expedition, halted by a fierce blizzard and only 11 miles from their next supply depot, the team met their unfortunate end; attempting, but unable to advance through the blizzard.
  %p Scott's Nerra Nova expedition was responsible for collecting some of the most valuable scientific data of the time from the Antarctic continent and the Southern Ocean. This data helped change the course of navigation and our understanding of the Earth's magnetic fields and climate. The expedition collected over 2,100 specimens of animals and fish, 1/5 of which were completely new to science. On the return journey from the Pole, the men, even in the midst of their weakened state and battling atrocious conditions, brought with them 16 kilograms of fossils.
  %p The team meticulously recorded the meteorological observations you see on this site almost until the very end. Although the party failed to return from their epic expedition, their contributions to science still live on to this day.
  %h2
    %p How you can help record history.
  %hr
  %p
    In late 2013, Ben Saunders and Tarka L'Herpiniere were the first to complete Scott's journey. They collected daily meteorological observations which we can now compare against the conditions recorded a century ago. In order to do that, we need to transcribe the handwritten records made by Scott and his team, and this is where you come in.
  %p
    Please take five minutes to transcribe a log entry from the records here, or more if you have the time. The data will be collected multiple times for accuracy and then made available for comparison to the 2013/2014 data. This will also provide an important and freely available digitized transcription of the historical observations. So, if you can, please
    %a{:href=>'/begin'} start helping us record history.
  %h2
    %p More on The Scott Expedition.
  %hr
  %p 
    In October 2013, Ben Saunders lead
    %a{:href=> 'http://scottexpedition.com'}The Scott Expedition
    \- the first ever attempt to complete Scott's journey. The equivalent of 69 back-to-back marathons, the expedition set the record for the longest human powered Polar journey in history. Along with team mate Tarka L’Herpiniere, Ben traveled south from Scott's Hut to the South Pole and then back again. All the way, they collected daily meteorological observations for scientists to compare against the 1911/1912 records.
