#welcome
  %h2
    %p 
      Thanks for helping us record history. 
  %p
    If you accidentally record the wrong data or have questions any about the transcriptions, please contact
    %a{:href=>'mailto:transcription@zerosixzero.org'}transcription@zerosixzero.org