html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
/*  font-size: 100%;*/
/*  font: inherit;*/
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

a {
  color: #419CC6;
}
a:hover {
  color: #419CC6;
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

body {
  font: 13px Arial, Helvetica, sans-serif;
/*  background: white;*/
  background:#282828;
/*  color: #0d0d0d;*/
  color: white;
}
body h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
body ul {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: #e7e7e7;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
body ul li {
  display: inline;
  line-height: 30px;
  padding: 0 15px;
}
body ul li a {
  color: black;
  text-decoration: none;
}
body ul li a:hover {
  text-decoration: underline;
}

#viewer {
  float: left;
  width: 63%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

#header {
  margin-left: 20px;
}

#header h2 {
  
}


#add {
  float:left;
  width: 28%;
}

#addform {
  display: inline-block;
  padding-left: 20px;
  margin-top:60px;
  margin-bottom: 20px;
}

#helptip {
  margin-top: 20px;
  margin-bottom: 20px;
}

#addform li {
  display:inline !important;
  list-style-type: none;
  padding-right: 10px;    
}

#addform input {
  display:inline !important;
}

#existing {
  width: 400px;
/*  display: inline-block;*/
}

#existing table th, td {
  border: 1px solid white;
  width: 30px;
}

#existing h4 {
  margin-bottom: 10px;;
}

#existing th, td {
  border: 1px solid white;
  white-space: nowrap;
  padding: 3px;
}
h3.center {
  text-align: center;
}

#welcome {
  text-align: left;
  width: 800px;
  height: 200px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#container {
  width:100%;
}

h1.time {color: #419CC6}
